.search-bar {
        margin: 0 auto;
        width: 80%;
        max-width: 400px;
        background-color: #28365e; 
        border-bottom: 1px solid black;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        border-radius: 10px;
        color: powderblue;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
